:root {
    --header-color: #aaaaaa;
    --nav-color: #606060;
    --hover-color: #c4c4c4;
    --flash-bar-color: #96a5be;
    --background-color: #777777;
    --text-normal: white;
    --text-inverted: black;
}
