#real-info-button {
    margin-top: 10px;
}
/*
#python-libraries a {
    background-color: var(--nav-gray);
    color: var(--text-white);
    text-align: center;
    padding: 4px 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
}
#python-libraries a:hover {
    background-color: var(--hover-gray);
    color: var(--text-black);
}
#python-libraries li {
    padding: 4px 6px;
}*/
#full-python-button {
    margin-top: 10px;
}

#python-libraries li a {
    border: 2px solid var(--nav-color);
    padding: 2px 4px;
    margin-top: 10px;
}
#python-libraries li a:hover {
    border: none;
    padding: 4px 6px;
}