:root {
    --header-color: #eaeaea;
    --nav-color: #c4c4c4;
    --hover-color: #606060;
    --flash-bar-color: #c0c9d8;
    --background-color: white;
    --text-normal: black;
    --text-inverted: white;
}
