{% extends 'base.html' %}

{% block content %}

<div class="basic">
    <h1>User Testimonials</h1>
    <ul>
        <li>Heated my food extremely quickly and thoroughly. Very impressed. 5/5</li>
        <li>Amazing! No complaints. 2/5</li>
        <li>Looks cool, but I couldn't use it because I didn't have the proper dongle. 4/5</li>
        <li>Worked well, but I didn't realize it was made in China. Promptly put it in the trash after I found out. 1/5</li>
        <li>Created an account, and then a truck drove through my house. Coincidence? I think not. 1/5</li>
        <li>Gave me diarrhea. 5/5</li>
        <li>Holds up to 6 standard sized cupcakes. 4/5</li>
        <li>Needs more chicken. Will leave better review when there is more chicken. 3/5</li>
        <li>Removed all of my hair. 5/5</li>
        <li>I got 2 does anyone want the extra? 4/5</li>

    </ul>
</div>

{% endblock %}